@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');

.container {
  padding: 0 2rem;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-self: center;
  padding-bottom: 0.4em;
}

.logo_text{
  font-family: 'Kalam', cursive;
  text-align: center;
  font-size: 2rem;
}

.btn_play{
  display: flex;
  background-color: #80B9FF;
  border:0;
  border-radius: 10px;
  width: 15rem;
  align-items: center;
  align-self: center;
  justify-content: center;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
