.container {
    padding: 1rem;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.questions_box{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    width: 20rem;
}

.question_text{
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    background-color: #FFD280;
    height: 5rem;
    border-radius: 10px;
    width: 100%;
}

.awnser_box{
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 0%;
    width: 100%;
}

.awnser{
    display: flex;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
    background-color: #D9D9D9;
    margin: 0.4em;
    list-style: none;
    height: 3em;
    border-radius: 10px;
}

.awnser_btn{
    margin-top: 1rem;
    height: 5em;
    width: 100%;
    background-color: #80B9FF;
    border: 0;
    border-radius: 10px;
}
 